body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemDetail {
  width: 100%;
  text-align: center;
}

.mainContainer {
  width: 100%;
  display: grid;
  place-content: center;
}

h1{
  text-align: center;
}

.cardItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding: 5px;
}

.linkDetails {
  color:white;
  text-decoration: none;
}

.linkDetails:hover{
  color:white;
  text-decoration: none;
}